.card1{
    max-width: 100%;
    margin: 5px;
    padding: 3px;
    border-radius: 10px;
    border: 2px solid #fff;
    background-color: #fff;
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-img{
    position: relative;
    width: 100%;
}

.card-img>img{
    max-width: 100%;
}

.card-img>i{
    position: relative;
    right: 5px;
}

.card-profile{
    display: flex;
    align-items: center;
    width: 100%;
}

.card-profile-img{
    height: 40px;
}

.card-profile-img>img{
    max-height: 100%;
}

.card-profile-name{
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
    max-width: 100%;
}

.card-profile-name>span{
    font-weight: bold;
    margin: 0;
}

.card-profile-name>a{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: gray;
    font-size: 12px;
}

.card-rating{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card-desc{
    color: gray;
    display: flex;
    width: 25ch;
    font-size: 14px;
}

.card-price{
    display: flex;
    padding: 8px;
    border-top: 1px solid #ccc;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.card-price>button{
    color: #fff;
    background-color: #000;
    padding: 0px 15px;
    border-radius: 5px;
}

@media screen and (max-width:460px) {
    .card1,.card-desc{
        width: 70%;
        display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: space-around;
    }
}
@media screen and (max-width:280px) {
    .card1,.card-desc{
        width: 80%;
        display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: space-around;
    }
}
@media screen and (max-width:1024px) {
    .card1,.card-desc{
        width: 80%;
        display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: space-around;
    }
}